.navbar {
  margin-bottom:30px;
}

/* USER PROFILE PAGE STUFF */

#profilePicture {
  width: 100%;
  border: 5px solid white;
}

#bannerDiv {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom:20px;
}

#bannerUserName {
  color:white;
  text-align: center;
  font-size:4em;
  padding-top: 80px;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.3);
}

#infoWrap {
  border-radius: 5px;
  font-size:1.2em;
  padding:40px;
  text-align: center;
  box-shadow: 0px 0px 3px #555 inset; 
}

#profilePicture {
  border-radius: 50%;
  border:3px solid rgba(0, 0, 0, 0.2);
}

#userName {
  text-align: center;
  font-size:1.5em;
  padding:15px 0px;
}


#commissionBtn {
  text-align: center;
  padding-top: 35px;
}

/* MODELS PAGE */
#modelsHeader {
  font-size: 3em;
  text-align: center;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.3);
  color: white;

}

.modelsHeaderImage {
  background-image: url("../assets/modelsHeaderImg.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#modelTitle {
  overflow: hidden;
  font-size:1.7em;
  padding-bottom: 5px;
}

#moreInfoButton {
  margin-bottom: 10px;
}

/* SHOW MODEL PAGE */
#specificModelTitle {
  font-size: 3em;
  padding-bottom: 10px;
}

#showModelImg {
  width:100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.inlineButtons {
  display:inline;
}

#date {
  margin-bottom: 10px;
}

#commentsArea {
  box-shadow: 0px 0px 2px #555 inset; 
  border-radius: 5px;
  padding: 20px;
}
